{% extends "Pages/Base.html" %}
{% block content %}    
    <div class="container">
      <br/>
        <br/>
    <p>**Question Displays over here with h1 tag**</p>
        <br/>
    <h3> Your Answer : </h3>
<br/>
        

    <input type="text" placeholder="Enter your Text" style="width:500px;height:100px;border:2px solid">

    <br/>
    <br/>
    <button class="btn btn-outline-info">Submit</button>
    <br/>
    <br/>
<br/>
        <br/>
        <div class="alert alert-success" role="alert">
        
        Thank you for answering. Your answer will be submitted as soon as you click on "Submit"
    </div>
    
    <br/>
  </div>
     

{% endblock content %}
    
    