{% extends "Pages/Base.html" %}
{% block content %} 
    <div class="container">
        <br/>
        <br/>
        <br/>
        <article class="media content-section">
          <img class="rounded-circle account-img" src="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Jaya @admin</a>
            </div>
            <div>
              <p class="article-content">If revenge is a dish thats best served cold, and revenge is sweet, then is revenge ice cream?</p>
              <a class="article-title" href="Answer.html">Answer this question</a>
          </div>
          </div>
        </article>
      </div>
      <br><br>
      <div class="container">
        <article class="media content-section">
          <img class="rounded-circle account-img" src="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Vinod @admin</a>
            </div>
            <div>
              <p class="article-content">What happens inside a blackhole?</p>
              <a class="article-title" href="Answer.html">Answer this question</a>
          </div>
          </div>
        </article>
      </div>
      <br><br>
      <div class="container">
        <article class="media content-section">
          <img class="rounded-circle account-img" src="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Rajesh @admin</a>
            </div>
            <div>
              <p class="article-content">how to do assignments on time?</p>
              <a class="article-title" href="Answer.html">Answer this question</a>
          </div>
          </div>
        </article>
      </div>
      <br><br>
      <div class="container">
        <article class="media content-section">
          <img class="rounded-circle account-img" src="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="profile.html">Vedant @admin</a>
            </div>
            <div>
              <p class="article-content">Is time travel possible?</p>
              <a class="article-title" href="Answer.html">Answer this question</a>
          </div>
          </div>
        </article>
      </div>
      <br><br>

{% endblock content %}
    

    